body {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

section {
  height: 100vh;
  padding: 3em;
}

section > h1 {
  font-size: 5rem;
}
.overlay1 {
  background-color: #E6E6FA;
  color: #33006F;
}


.overlay2 {
  background-color: #33006F;
  color: #E6E6FA;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  clip-path: circle(100px at var(--x, 50%) var(--y, 50%));
  transition: clip-path 100ms;
}
